@{
    ViewBag.Title = "Наши контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Taganrog<br />
    Turgenevsky 44<br />
    <abbr title="Phone">P:</abbr>
    +7 961 817 47 36
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Alfa512ks@mail.ru">Alfa512ks@mail.ru</a><br />
    <strong>Marketing:</strong> <a href="mailto:Alfa512ks@gmail.com">Alfa512ks@gmail.com</a>
</address>